<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && masculino !== '-1' && femenino !== '-1'">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuál es el tiempo promedio que toma analizar una consulta dependiendo del sexo del usuario?"
      placement="top"></i>
    <h3>Tiempo de análisis promedio por sexo</h3>
    <div class="row">
      <div class="col-md-6 text-center col-12">
        <h1 class="mt-1">{{femenino}} s</h1>
        <h6><i class="fas fa-venus"></i>&nbsp;Femenino</h6>
      </div>
      <div class="col-md-6 text-center col-12">
        <h1 class="mt-1">{{masculino}} s</h1>
        <h6><i class="fas fa-mars"></i>&nbsp;Masculino</h6>
      </div>

    </div>
  </ng-container>
  <ng-container *ngIf="!loading && masculino === '-1'">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo el tiempo promedio de análisis por sexo</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
