<div class="row row-middle">
  <div class="col-12 mt-5 text-center">
    <img class="mx-auto border border-white rounded-circle shadow" src="./assets/leskan-logo.png" alt="Leskan logo"
      width="200px">
  </div>
  <div class="col-12 text-center text-white mt-3">
    <h2>Leskan - Dashboard</h2>
  </div>
  <div class="col-10 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-md-6 mx-auto mt-3 mb-3 text-center text-white">
    <app-consultas-historicas></app-consultas-historicas>
  </div>
  <div class="col-12"></div>
  <div class="col-md-6 mx-auto mt-3 mb-3 text-center text-white">
    <app-tiempo-promedio-consultas></app-tiempo-promedio-consultas>
  </div>
  <div class="col-md-6 mx-auto mt-3 mb-3 text-center text-white">
    <app-consultas-promedio-usuario></app-consultas-promedio-usuario>
  </div>
  <div class="col-md-6 mx-auto mt-3 mb-3 text-center text-white">
    <app-usuarios></app-usuarios>
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-12 mx-auto text-center mb-3">
    <app-consultas></app-consultas>
  </div>
  <div class="col-12">
    <br /><br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-12 mx-auto text-center mb-3">
    <app-consultas-mes></app-consultas-mes>
  </div>
  <div class="col-12">
    <br /><br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-12 mx-auto text-center mb-3">
    <app-tiempo-promedio-consultas-estado></app-tiempo-promedio-consultas-estado>
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-seguimientos-totales></app-seguimientos-totales>
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-seguimientos></app-seguimientos>
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-cambio-promedio-color></app-cambio-promedio-color>
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-12 mx-auto text-center mb-3">
    <app-cambio-promedio-tamanio></app-cambio-promedio-tamanio>
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-8 mx-auto">
    <hr class="bg-white" />
  </div>
  <div class="col-12">
    <br />
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-usuarios-sin-consultas></app-usuarios-sin-consultas>
  </div>
  <div class="col-12"></div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white">
    <app-sexo-dominante></app-sexo-dominante>
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white">
    <app-tiempo-promedio-sexo></app-tiempo-promedio-sexo>
  </div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-rango-edad></app-rango-edad>
  </div>
  <div class="col-12"></div>
  <div class="col-md-6 col-12 mt-3 mb-3 text-center text-white mx-auto">
    <app-tono-piel-dominante></app-tono-piel-dominante>
  </div>
  <div class="col-12 mb-5">
    <br />
  </div>
</div>
