<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && consultas !== '-1'">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuántas consultas en promedio realiza un usuario?" placement="top"></i>
    <h1 class="mt-0">{{consultas}}</h1>
    <h3><i class="fas fa-user"></i>&nbsp;Consultas promedio por usuario</h3>
  </ng-container>
  <ng-container *ngIf="!loading && consultas === '-1'">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo las consultas por usuario</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
