<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && mayor > -1 && menor > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuál es el rango de edad (5 años por rango) que más utiliza la aplicación?" placement="top"></i>
    <h3 class="mt-0">Rango de edad dominante</h3>
    <h2 class="mt-1">Entre <b>{{menor}}</b> y <b>{{mayor}}</b> años con {{usuarios}} usuarios</h2>
  </ng-container>
  <ng-container *ngIf="!loading && mayor === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo rangos de edad</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
