<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && consultas > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuál es el tiempo promedio de analizar una consulta?" placement="top"></i>
    <h1 class="mt-0">{{consultas}} s</h1>
    <h3><i class="fas fa-clock"></i>&nbsp;Tiempo promedio por análisis</h3>
  </ng-container>
  <ng-container *ngIf="!loading && consultas === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo el tiempo promedio de las consultas</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
