<div class="card bg-main w-50 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && tonoDePielPromedio !== ''">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuál es el tono de piel que predomina en el uso de la aplicación?" placement="top"></i>
    <h3 class="mt-0">Sobre el tono de piel</h3>
    <h4>Promedio: {{tonoDePielPromedio}}</h4>
    <h4>Desviación estandar: {{tonoDePielDesviacion}}</h4>
  </ng-container>
  <ng-container *ngIf="!loading && tonoDePielDesviacion === ''">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo el tono de piel dominante</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
