<div class="col-md-6 mx-auto">
  <h4 class="text-white mt-1 mb-3">Consultas por rango de fechas</h4>
  <div class="input-group">
    <input type="text" placeholder="Selecciona el rango de fecha" [bsConfig]="bsConfig" [(ngModel)]="rangoFechas"
      class="form-control text-center" bsDaterangepicker readonly="true" [minDate]="fechaMinima" [maxDate]="fechaMaxima"
      [attr.disabled]="
        numeroConsultas === -1 ||
        consultas[0].value === -1 ||
        consultas[1].value === -1 ||
        consultas[2].value === -1 ||
        consultas[3].value === -1
          ? true
          : null
      " />
    <div *ngIf="
        numeroConsultas > -1 &&
        consultas[0].value > -1 &&
        consultas[1].value > -1 &&
        consultas[2].value > -1 &&
        consultas[3].value > -1
      " class="input-group-prepend border-alternative">
      <span class="input-group-text text-white bg-alternative rounded-right border-alternative pointer"
        (click)="buscarPorFecha()"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <br />
  <div class="text-center" *ngIf="
  numeroConsultas > -1 &&
  consultas[0].value > -1 &&
  consultas[1].value > -1 &&
  consultas[2].value > -1 &&
  consultas[3].value > -1
">
    <button class="btn btn-alternative m-3" (click)="calcularFecha(0)">Hoy</button>
    <button class="btn btn-alternative m-3" (click)="calcularFecha(1)">Mes</button>
    <button class="btn btn-alternative m-3" (click)="calcularFecha(2)">Año</button>
  </div>
</div>

<div class=" col-md-10 mx-auto text-center w-100 mt-3 mb-3" *ngIf="
    numeroConsultas > -1 &&
    consultas[0].value > -1 &&
    consultas[1].value > -1 &&
    consultas[2].value > -1 &&
    consultas[3].value > -1
  ">
  <h5 class="text-white mb-0 mt-4">{{ numeroConsultas }} consultas</h5>
  <div *ngIf="numeroConsultas > 0" class="chart-container w-100 text-center">
    <ngx-charts-pie-chart [results]="consultas" [legend]="true" [legendPosition]="'below'" [scheme]="colorScheme"
      [legendTitle]="'Estado de la consulta'"></ngx-charts-pie-chart>
  </div>
</div>

<div class="col-12 text-center mt-4">
  <i *ngIf="
      (numeroConsultas === -1 ||
        consultas[0].value === -1 ||
        consultas[1].value === -1 ||
        consultas[2].value === -1 ||
        consultas[3].value === -1) &&
      !error
    " class="fas fa-pulse fa-spinner fa-3x text-white"></i>
  <div *ngIf="error" class="card bg-main border-white w-50 mx-auto text-white">
    <i *ngIf="!error" class="fas fa-times fa-3x text-white mt-2"></i>
    <h3 class="m-2">Se produjó un error cargando las consultas por fecha</h3>
  </div>
</div>

<!-- <div class="row" *ngIf="numeroConsultas > -1 && consultas[0].value > -1 &&
    consultas[1].value > -1 &&
    consultas[2].value > -1 &&
    consultas[3].value > -1">
  <div class=" col-3">
    <div class="card bg-main ml-4 mr-4 border-white shadow text-white">
      <ng-container *ngIf="!error">
        <h1 class="mt-1">{{numeroConsultas}}</h1>
        <h3>Consulta<span *ngIf="numeroConsultas > 1">s</span> {{texto}}</h3>
      </ng-container>
      <ng-container *ngIf="!loading && usuarios === -1">
        <h3><i class="fas fa-times mt-3"></i></h3>
        <h5>Error obteniendo usuarios</h5>
      </ng-container>

    </div>
  </div>
  <div class="col-9">

  </div>
</div>

<i *ngIf="numeroConsultas === -1 || consultas[0].value === -1 ||
    consultas[1].value === -1 ||
    consultas[2].value === -1 ||
    consultas[3].value === -1" class="fas fa-spin text-white fa-spinner fa-3x mt-3 mb-3"></i> -->
