<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && masculino > -1 && femenino > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuál es el sexo que más predomina en la aplicación?" placement="top"></i>
    <h3>Número de usuarios por sexo</h3>
    <div class="row">
      <div class="col-md-6 text-center col-12">
        <h1 class="mt-1">{{femenino}} <i class="fas fa-venus"></i></h1>
        <h6>Femenino</h6>
      </div>
      <div class="col-md-6 text-center col-12">
        <h1 class="mt-1">{{masculino}} <i class="fas fa-mars"></i></h1>
        <h6>Masculino</h6>
      </div>

    </div>
  </ng-container>
  <ng-container *ngIf="!loading && masculino === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo usuarios por sexo</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
