<div class="col-md-6 mx-auto">
  <h4 class="text-white mt-1 mb-3">Tiempo promedio de análisis por estado</h4>
</div>

<div class=" col-md-10 mx-auto text-center w-100 mt-3 mb-3"
  *ngIf="consultas[0].listo && consultas[1].listo && consultas[2].listo">
  <div class="chart-container w-100 text-center">
    <ngx-charts-bar-horizontal [results]="consultas" [legendPosition]="'below'" [legend]="true" [xAxis]="true"
      [showXAxisLabel]="true" [legendTitle]="'Estado'" [scheme]="colorScheme" [xAxisLabel]="'Segundos'">
    </ngx-charts-bar-horizontal>
  </div>
</div>

<div class="col-12 text-center mt-4">
  <i *ngIf="
        (!consultas[0].listo || !consultas[1].listo || !consultas[2].listo) &&
        !error
      " class="fas fa-pulse fa-spinner fa-3x text-white"></i>
  <div *ngIf="error" class="card bg-main border-white w-50 mx-auto text-white">
    <i *ngIf="!error" class="fas fa-times fa-3x text-white mt-2"></i>
    <h3 class="m-2">Se produjó un error cargando el tiempo promedio por estado</h3>
  </div>
</div>
