<div class="card bg-main w-75 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && usuarios > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2" tooltip="¿Cuántos usuarios registrados aún no realizan ninguna consulta?
      " placement="top"></i>
    <h1 class="mt-0">{{usuarios}}</h1>
    <h3><i class="fas fa-users-friends"></i>&nbsp;Usuarios sin consultas realizadas</h3>
  </ng-container>
  <ng-container *ngIf="!loading && usuarios === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo usuarios sin consultas</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
