<div class="card bg-main w-50 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && seguimientos > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuántos seguimientos se han realizado en total con más de una consulta?" placement="top"></i>
    <h1 class="mt-0">{{seguimientos}}</h1>
    <h3><i class="fas fa-file-medical"></i>&nbsp;Seguimientos en total</h3>
  </ng-container>
  <ng-container *ngIf="!loading && seguimientos === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo los seguimientos</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
