@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/bootstrap";

html,
body,
app-root,
#routerContainer {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #3256AA !important;
  font-family: 'Montserrat', sans-serif;
}


.bg-main {
  background-color: #3256AA !important;
}

.row-middle {
  display: flex;
  align-items: center;
}

span.legend-title-text {
  color: white !important;
}

.legend-item {
  &:hover {
    color: #fff;
  }
}

.legend-label {
  &:hover {
    color: #fff !important;
  }

  .active {
    .legend-label-text {
      color: #fff !important;
    }
  }
}

.bg-alternative {
  background-color: #1B9AF7 !important;
}

.border-alternative {
  border-color: #1B9AF7 !important;
}

.pointer {
  cursor: pointer;
}

.chart-container {
  height: 400px;
}

.horizontal-legend,
.legend-labels {
  text-align: center !important;
}

/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-alternative {
  @include button-variant(#1B9AF7, white, darken(#1B9AF7, 7.5%), darken(#1B9AF7, 10%), darken(#1B9AF7, 10%), darken(#1B9AF7, 12.5%));
  color: #fff;
}

.btn-potencialmente-peligrosas {
  @include button-variant(#ff6700, white, darken(#ff6700, 7.5%), darken(#ff6700, 10%), darken(#ff6700, 10%), darken(#ff6700, 12.5%));
  color: #fff;
}

.btn-no-peligrosas {
  @include button-variant(#43A047, white, darken(#43A047, 7.5%), darken(#43A047, 10%), darken(#43A047, 10%), darken(#43A047, 12.5%));
  color: #fff;
}

.btn-peligrosas {
  @include button-variant(#B00020, white, darken(#B00020, 7.5%), darken(#B00020, 10%), darken(#B00020, 10%), darken(#B00020, 12.5%));
  color: #fff;
}

.btn-no-analizadas {
  @include button-variant(#C0C0C0, white, darken(#C0C0C0, 7.5%), darken(#C0C0C0, 10%), darken(#C0C0C0, 10%), darken(#C0C0C0, 12.5%));
  color: #fff;
}

$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

/**
   * Text
   */
$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: #A0AABE;
$color-text-med-light: #d9dce1;
$color-text-light: #f0f1f6;
$color-text-lighter: #fff;

$background: $color-bg-darker;

.ngx-charts {

  text {
    fill: $color-text-med;
  }

  .tooltip-anchor {
    fill: rgb(255, 255, 255);
  }

  .gridline-path {
    stroke: $color-bg-med;
  }

  .refline-path {
    stroke: $color-bg-light;
  }

  .reference-area {
    fill: #fff;
  }

  .grid-panel {
    &.odd {
      rect {
        fill: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .force-directed-graph {
    .edge {
      stroke: $color-bg-light;
    }
  }

  .number-card {
    p {
      color: $color-text-light;
    }
  }

  .gauge {
    .background-arc {
      path {
        fill: $color-bg-med;
      }
    }

    .gauge-tick {
      path {
        stroke: $color-text-med;
      }

      text {
        fill: $color-text-med;
      }
    }
  }

  .linear-gauge {
    .background-bar {
      path {
        fill: $color-bg-med;
      }
    }

    .units {
      fill: $color-text-dark;
    }
  }

  .timeline {
    .brush-background {
      fill: rgba(255, 255, 255, 0.05);
    }

    .brush {
      .selection {
        fill: rgba(255, 255, 255, 0.1);
        stroke: #aaa;
      }
    }
  }

  .polar-chart .polar-chart-background {
    fill: rgb(30, 34, 46);
  }

}

.chart-legend {
  .legend-labels {
    background: rgba(255, 255, 255, 0.05) !important;
  }

  .legend-item {
    &:hover {
      color: #fff;
    }
  }

  .legend-label {
    &:hover {
      color: #fff !important;
    }

    .active {
      .legend-label-text {
        color: #fff !important;
      }
    }
  }

  .scale-legend-label {
    color: $color-text-med;
  }
}

.advanced-pie-legend {
  color: $color-text-med;

  .legend-item {
    &:hover {
      color: #fff !important;
    }
  }
}

.number-card .number-card-label {
  font-size: 0.8em;
  color: $color-text-med;
}
