<div class="col-md-6 mx-auto">
  <h4 class="text-white mt-1 mb-3">Consultas por mes</h4>
  <div class="text-center"
    *ngIf="consultas[0].listo && consultas[1].listo && consultas[2].listo && consultas[3].listo && consultas[4].listo && consultas[5].listo && consultas[6].listo && consultas[7].listo && consultas[8].listo && consultas[9].listo && consultas[10].listo && consultas[11].listo">
    <button class="btn btn-peligrosas m-2" (click)="cambiarOpcion(0)">Peligrosas</button>
    <button class="btn btn-potencialmente-peligrosas m-2" (click)="cambiarOpcion(1)">Potencialmente peligrosas</button>
    <button class="btn btn-no-peligrosas m-2" (click)="cambiarOpcion(2)">No peligrosas</button>
    <button class="btn btn-no-analizadas m-2" (click)="cambiarOpcion(3)">No analizadas</button>
  </div>
</div>

<div class=" col-md-10 mx-auto text-center w-100 mt-3 mb-3"
  *ngIf="consultas[0].listo && consultas[1].listo && consultas[2].listo && consultas[3].listo && consultas[4].listo && consultas[5].listo && consultas[6].listo && consultas[7].listo && consultas[8].listo && consultas[9].listo && consultas[10].listo && consultas[11].listo">
  <h5 class="text-white mb-0 mt-4">
    {{ consultas[0].value + consultas[1].value + consultas[2].value + consultas[3].value + consultas[4].value + consultas[5].value + consultas[6].value + consultas[7].value + consultas[8].value + consultas[9].value + consultas[10].value + consultas[11].value }}
    consultas {{texto}}</h5>
  <br />
  <div class="chart-container w-100 text-center">
    <ngx-charts-bar-vertical [results]="consultas" [legend]="true" [legendPosition]="'below'" [legendTitle]="'Mes'">
    </ngx-charts-bar-vertical>
  </div>
</div>

<div class="col-12 text-center mt-4">
  <i *ngIf="
        (!consultas[0].listo || !consultas[1].listo || !consultas[2].listo || !consultas[3].listo || !consultas[4].listo || !consultas[5].listo || !consultas[6].listo || !consultas[7].listo || !consultas[8].listo || !consultas[9].listo || !consultas[10].listo || !consultas[11].listo) &&
        !error
      " class="fas fa-pulse fa-spinner fa-3x text-white"></i>
  <div *ngIf="error" class="card bg-main border-white w-50 mx-auto text-white">
    <i *ngIf="!error" class="fas fa-times fa-3x text-white mt-2"></i>
    <h3 class="m-2">Se produjó un error cargando las consultas por fecha</h3>
  </div>
</div>
