<div class="col-md-6 mx-auto">
  <h4 class="text-white mt-1 mb-3">Seguimientos con más de una consulta</h4>
</div>

<div class=" col-md-10 mx-auto text-center w-100 mt-3 mb-3" *ngIf="
    numeroSeguimientos > -1 &&
    seguimientos[0].value > -1 &&
    seguimientos[1].value > -1 &&
    seguimientos[2].value > -1
  ">
  <h5 class="text-white mb-0 mt-4">{{ numeroSeguimientos }} seguimientos</h5>
  <div *ngIf="numeroSeguimientos > 0" class="chart-container w-100 text-center">
    <ngx-charts-pie-chart [results]="seguimientos" [legend]="true" [legendPosition]="'below'" [scheme]="colorScheme"
      [legendTitle]="'Estado del seguimiento'"></ngx-charts-pie-chart>
  </div>
</div>

<div class="col-12 text-center mt-4">
  <i *ngIf="
      (numeroSeguimientos === -1 ||
        seguimientos[0].value === -1 ||
        seguimientos[1].value === -1 ||
        seguimientos[2].value === -1) &&
      !error
    " class="fas fa-pulse fa-spinner fa-3x text-white"></i>
  <div *ngIf="error" class="card bg-main border-white w-50 mx-auto text-white">
    <i *ngIf="!error" class="fas fa-times fa-3x text-white mt-2"></i>
    <h3 class="m-2">Se produjó un error cargando los seguimientos por estado</h3>
  </div>
</div>
