<div class="card bg-main w-50 mx-auto border-white shadow">
  <ng-container *ngIf="!loading && usuarios > -1">
    <i class="fas fa-question-circle text-white ml-auto mr-2 mt-2"
      tooltip="¿Cuántos usuarios se han  registrado en la aplicación?" placement="top"></i>
    <h1 class="mt-0">{{usuarios}}</h1>
    <h3><i class="fas fa-users"></i>&nbsp;Usuarios en total</h3>
  </ng-container>
  <ng-container *ngIf="!loading && usuarios === -1">
    <h3><i class="fas fa-times mt-3"></i></h3>
    <h5>Error obteniendo usuarios</h5>
  </ng-container>
  <i *ngIf="loading" class="fas fa-spin fa-spinner fa-3x mt-3 mb-3"></i>
</div>
